body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  height: 6900px;

  font-family: "KarlA";
  font-style: normal;
}

.story {
  top: 133px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fullStory {
  margin-top: 250px;
}
.story_line {
  margin-top: 280px;
}

.featuredMugs {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fMugs_containers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  text-align: center;
}
.fmugs_header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  margin-bottom: 100px;
}
.price1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  text-align: center;

  color: rgba(29, 31, 46, 0.7);
}
.price2 {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;

  text-align: center;

  color: #a25f4b;
}

.sale {
  margin-left: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  text-align: center;
  text-decoration-line: line-through;

  color: rgba(29, 31, 46, 0.4);
}

.product_name {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  text-align: center;

  color: #1d1f2e;
}
