.container__wrapper {
  position: relative;
  top: 80px;
  max-width: 1380px;
  height: 530px;
  margin-left: auto;
  margin-right: auto;
}
.container__wrapper-photo {
  position: absolute;
  width: 1380px;
  height: 530px;
  background: #050827;
  z-index: -5;
}
.shapka {
  position: absolute;
  z-index: -3;
  left: 220px;
}
.container__text {
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container__text1 {
  position: absolute;
  width: 215px;
  height: 18px;
  bottom: 353px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
.container__text2 {
  position: absolute;
  width: 267px;
  height: 60px;
  bottom: 283px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
}
.container__text3 {
  position: absolute;
  width: 793px;
  height: 30px;
  bottom: 243px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;

  text-align: center;
  color: #ffffff;
}
.container__text4 {
  position: absolute;
  width: 183px;
  height: 18px;
  bottom: 177px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;

  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}
